<!-- Main -->
<div id="main">

    <!-- First Section -->
    <section id="first" class="main special">
        <header class="major">
            <h2>How it works</h2>
        </header>
        <div class="wrapper d-flex align-items-stretch">
            <nav id="sidebar" [ngClass]="{'active': active}">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="toggleMenu()">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <div class="p-4 pt-5">
                    <h1><a [routerLink]="['/home']" class="logo">Fin13</a></h1>
                    <ul class="list-unstyled components mb-5">
                        <li *ngFor="let calc of calculators" (click)="changeCalculator(calc)"
                            [ngClass]="{'active': selectedCalculator.name === calc.name}">
                            <a href="javascript:void(0)">{{calc.name}}</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Page Content  -->
            <div id="content" class="p-4 p-md-5 pt-5">

                <iframe [scrolling]="selectedCalculator.scrolling" [style]="selectedCalculator.style" [width]="selectedCalculator.width"
                    [height]="selectedCalculator.height" [src]="selectedCalculator.src">
                </iframe>
            </div>
        </div>
    </section>

</div>