.text-placeholder{ color: #666666;}
/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #fff;
}

.wrap-login100 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 65px 55px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/*==================================================================
  [ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 33px;
}

/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.wrap-input100.rs1 {
    border-top: none;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    height: 68px;
    padding: 0 25px 0 25px;
}

/*------------------------------------------------------------------
  [ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.login100-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: #4272d7;

    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: #333333;
}

/*------------------------------------------------------------------
  [ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;

    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
