/* Header */

.header {
    padding: 5em 5em 1em 5em;
    text-align: center;
    h1 {
        margin: 0 0 0.25em 0;
    }
    p {
        font-size: 1.25em;
        letter-spacing: -0.025em;
    }
    &.alt {
        padding: 7em 5em 4em 5em;
        h1 {
            font-size: 3.25em;
        }
        & > * {
            -moz-transition: opacity 3s ease;
            -webkit-transition: opacity 3s ease;
            -ms-transition: opacity 3s ease;
            transition: opacity 3s ease;
            -moz-transition-delay: 0.5s;
            -webkit-transition-delay: 0.5s;
            -ms-transition-delay: 0.5s;
            transition-delay: 0.5s;
            opacity: 1;
        }
        .logo {
            -moz-transition: opacity 1.25s ease, -moz-transform 0.5s ease;
            -webkit-transition: opacity 1.25s ease, -webkit-transform 0.5s ease;
            -ms-transition: opacity 1.25s ease, -ms-transform 0.5s ease;
            transition: opacity 1.25s ease, transform 0.5s ease;
            -moz-transition-delay: 0s;
            -webkit-transition-delay: 0s;
            -ms-transition-delay: 0s;
            transition-delay: 0s;
            display: block;
            margin: 0 0 1.5em 0;
            img {
                display: block;
                margin: 0 auto;
                max-width: 75%;
            }
        }
    }
}
