<!-- Main -->
<div id="main">

    <!-- First Section -->
    <section id="first" class="main special">
        <header class="major">
            <h2>How it works</h2>
        </header>
        <ul class="features">
            <li>
                <span class="icon solid major style1">
                    <i class="fa fa-calculator"></i>
                </span>
                <h3>Calculator</h3>
                <p>With careful planning and the guidance of the Spirit, you and your family will be able to enjoy a more secure financial future. A number of calculators are available to help you make wise financial decisions. Consider the questions below and use the calculators provided to help you in your financial planning:</p>
                <a [routerLink]="['/calculator']" class="button">Learn More</a>
            </li>
            <li>
                <span class="icon major style3">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <h3>Buy Mf Online</h3>
                <p>We sincerely advise you to take the assistance of a Financial Advisor to plan and invest your hard earned money. A financial advisor assists in understanding your finances, planning your investment and in the procedural aspects of investing..</p>
                <a href="generic.html" class="button">Learn More</a>
            </li>
            <li>
                <span class="icon major style5">
                    <i class="fa fa-user-secret"></i>
                </span>
                <h3>Risk Profile</h3>
                <p>The goal of a risk profile is to provide a non-subjective understanding of risk by assigning numerical values to variables representing different types of threats and the danger they pose. In finance, a risk profile can be a useful tool for discussing and evaluating a potential investment's ability to maximize return on investment (ROI) while minimizing risk.</p><a href="generic.html" class="button">Learn More</a>
            </li>
            <li>
                <span class="icon major style5">
                    <i class="fa fa-download"></i>
                </span>
                <h3>Download Form</h3>
                <p> In The Download Section You Can Download The Mutual Fund Form, Life Insurance Form, Genaral Insurance Form, Pan Form, Kyc Form By Double click on Given Below Go Button. </p><a href="generic.html" class="button">Learn More</a>
            </li>
        </ul>
    </section>

</div>